@charset "UTF-8";

	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	
	a {
		color: #fff;
		text-decoration: none;
	}
	
	header {
		background-color: #333;
	}
	
	header h1 {
		text-align: center;
		color: #fff;
		height: 150px;
		line-height: 150px;
	}
	
	header nav {
		background-color: #444;
		height: 50px;
		line-height: 50px
	}
	
	header ul {
		list-style: none;
		display: flex;
	}
	
	header ul li {
		margin: 0 10px;
	}
	
	section {
		height: calc(100vh - 150px - 50px);
		background-color: #e5e5e5;
		padding: 30px 20px;
	}
	
	section ol {
		margin-left: 20px;
		line-height: 1.8;
	}
	
	footer {
		background-color: #333;
		height: 50px;
		line-height: 50px
	}
	
	footer p {
		text-align: center;
		color: #fff;
	}
	
	.container {
		width: 800px;
		margin: 0 auto;
	}
	
	table {
		width: 100%;
		border-collapse: collapse;
	}
	
	th, td {
		padding: 5px;
		border: 1px solid #333;	
	}
	
	input[type=text] {
		padding: 5px;
		width: 100%;
	}
	
	tr:last-child {
		text-align: center;
	}
	
	.member_list {
		text-align: center;
	}